if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SESA_VW_COMPRAS_VEHICULOS]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view dbo.SESA_VW_COMPRAS_VEHICULOS
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW dbo.SESA_VW_COMPRAS_VEHICULOS
AS SELECT *
FROM dbo.SACOMP_01

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

