
-- SOLUCION EXTENDIDA PARA CONCESIONARIOS AUTOMOTRICES

if exists (select * from dbo.sysobjects where id = object_id(N'[SESA_VW_MODELOS]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view SESA_VW_MODELOS
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


CREATE VIEW SESA_VW_MODELOS
AS SELECT *
FROM SAPROD_11_01

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

